<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.g5backend.serve.dao.RoleDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bosssoft.rbac.entity.po.Role">
        <id column="id" property="id" />
        <result column="key" property="key" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="operator" property="operator" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

    <select id="selectRouteByRoleId" resultType="com.bosssoft.rbac.entity.po.Permission">
        SELECT DISTINCT p.id, p.path, p.component, p.title, p.icon, p.code, p.pid
        FROM t_role AS r
                 LEFT JOIN t_role_permission AS rp on rp.r_id = r.id
                 LEFT JOIN t_permission AS p on rp.p_id = p.id
        WHERE r.id = #{roleId} AND p.is_deleted = 0
        ORDER BY p.id ASC
    </select>

    <insert id="saveRoleRoutes">
        insert into t_role_permission(r_id,p_id) values
        <foreach collection="permissionsId" item="item" index="index" separator=",">
            (#{id},#{item})
        </foreach>
    </insert>

</mapper>
